.layout {
  background: linear-gradient(240deg, #2b4162 0%, #12100e 74%);
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 60px 1fr 40px;
  padding-inline: 24px;
  justify-items: center;

  & > header {
    grid-area: header;
    max-width: 1600px;
  }

  & > main {
    grid-area: main;
    padding: 90px 0 24px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  & > footer {
    grid-area: footer;
  }
}
